<%= form_with(model: whitelist, local: true) do |form| %>
  <% if whitelist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whitelist.errors.count, "error") %> prohibited this whitelist from being saved:</h2>

      <ul>
      <% whitelist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :whitelist_user_id %>
  </div>

  <div class="field">
    <%= form.label :instagram_user_id %>
    <%= form.text_field :instagram_user_id, id: :whitelist_instagram_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
